<div class="content-wrap igx-typography" igxLayout>
  <!-- <app-drawer></app-drawer> -->
  <main igxFlex>
    <app-header></app-header>

    <div class="layout-box" igxLayout igxLayoutJustify="space-between">
      <div class="layout-box__el" igxFlex>
        <app-graphcards></app-graphcards>
      </div>
      <div class="layout-box__el" igxFlex>
        <app-graphcards></app-graphcards>
      </div>
      <div class="layout-box__el" igxFlex>
        <app-graphcards></app-graphcards>
      </div>
      <div class="layout-box__el" igxFlex>
        <app-graphcards></app-graphcards>
      </div>
    </div>
<!--
    <app-operationaltable></app-operationaltable> -->

  </main>

</div>
