<igx-nav-drawer id="navigation" #drawer [isOpen]="true">
  <ng-template igxDrawer>
    <nav>
      <span igxDrawerItem [isHeader]="true"> Analyzers Logo</span>
      <span igxDrawerItem igxRipple> Tab1 </span>
      <span igxDrawerItem igxRipple [active]="true"> Tab2 </span>
      <span igxDrawerItem igxRipple> Tab3 </span>
      <span igxDrawerItem [isHeader]="true"> Tab4 </span>
      <span igxDrawerItem igxRipple> Tab5 </span>
      <span igxDrawerItem igxRipple> Tab6 </span>
    </nav>
  </ng-template>
</igx-nav-drawer>
